* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;

}

#main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 196, 173);
    display: flex;
}

#panel {
    width: 80%;
    height: 90%;
    /* display: flex; */
    /* justify-content: center; */
    background-color: aliceblue;

}

.paneltop {
    height: 100px;
    width: 100%;
    background-color: rgb(71, 150, 146);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 0px 10%; */
}

.panelelem {
    /* width: 10px;
    height: 20px; */
    /* font-style: oblique;
    font-size: larger; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 20%;
    /* background-color: azure; */

}

.box {
    /* height: 20px;
    width: 25%; */
    font-weight: 600;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #95ebd1;
    border-radius: 5px;
}

.panelbtm {
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: darkgrey;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.panelbtm h1 {
    font-weight: bolder;

}

.panelbtm button {
    color: black;
    background-color: darkorchid;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.bubble {
    width: 60px;
    height: 60px;
    background-color: rgb(104, 130, 187);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;

}

.bubble:hover {
    background-color: #d6c3c3;
    cursor: pointer;
    color: #000;
}